<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      
      
      <a class="navbar-brand" routerLink="/content-list" routerLinkActive="active">Content List</a>
      <a class="navbar-brand" routerLink="/content-detail" routerLinkActive="active">Add Content</a>      
      <a class="navbar-brand" routerLink="/content-edit" routerLinkActive="active">NoDB work</a>
      
      <a class="navbar-brand" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="navbar-brand" routerLink="/register" routerLinkActive="active">Register</a>      
      <a class="navbar-brand" routerLink="/user" routerLinkActive="active">User Profile</a>             
    </div> 
  </div>
</nav>

 
<div class="container">
  <br>
  <br>
  
  <router-outlet></router-outlet>
 
</div><!-- /.container -->  


<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <alert></alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
      <a  target="_top">Login components are from JasonWatmore.com</a>
  </p>
  
</div>
