
<h1>Content List</h1>







<br>
<br>
<!-- ปุ่มแสดงงงงงงงงงงงงงงงง -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showModal">
  Show Data
</button>

<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showModalLabel">Content Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        
        <content-list2></content-list2>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>

<!--คนละปุ่มมมมมมมมมมมม-->

&nbsp;


&nbsp;

<br>
<br>

<add-content2></add-content2>

